{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3 my-5 mb-3 ">
        <h1 class="text-center mt-5 mb-3">{{'todolist  |  list of tasks'|upper}}</h1>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Index</th>
            <th scope="col">Task Title</th>
            <th scope="col">Task Description</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}

            {% if forloop.counter == 0 %}
                <p class="text-center container mt-5">Please add some task<br><a href="{% url 'homePage' %}">TODOLIST  |  Add Task </a>page</p>
            {% else %}
                <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>
                    <form action="/deletetodo/{{task.id}}" method="post">
                    {% csrf_token %}
                        <input class="btn-outline-primary" type="submit" value="Completed">
                    </form>
                </td>
                </tr>
            {% endif %}
            
        {% endfor %}
        </tbody>
        </table>
    </div>

    <p class="text-center container mt-5">If you want to add some task then go to <br><a href="{% url 'homePage' %}">TODOLIST  |  Add Task </a>page</p>
{% endblock content %}